* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    background: url("Assets/Rogue Lineage/Background.png") no-repeat;
    background-size: cover;
    overflow: hidden;
}

header nav{
    width: 100%;
    margin-bottom: 2em;
}

header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header nav li{
    display: inline;
    float: left;
}

header nav li a{
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

header nav li a:hover{
    background-color: #111;
}

.flexContainer{
    width: fit-content;
    margin: auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    border: 5px solid;
    border-radius: 10px;
    border-color: #B8895A;
    outline: 5px double;
    outline-color: #423529;
    outline-offset: -5px;
    background-color: rgba(0, 0, 0, 0.250);
}

.card button{
    background: url('Assets/Rogue Lineage/Button.png');
    background-size: cover;
    height: 100px;
    width: 100px;
    border: none;
    flex: 1; 
}

.card button:hover{
    background: url('Assets/Rogue Lineage/Button Selected.png');
    background-size: cover;
    transform: scale(1.05);
}

.card .cardContent{
    margin: auto;
    width: 80%;
    font-size: 12px;
    white-space: normal;
    word-wrap: break-word;
}